<!-- views/index/index.ejs -->

<%- include('../navbar/navbar') %>

<div id="content">
    <h1>Welcome to Node Users</h1>
    <p>Here you can watch all the node users</p>
</div>

<%- include('../footer/footer') %>